@import "background.setup";

@mixin -background-page() {
  background-color: $background-page;
}

@mixin -background-gray-1() {
  background-color: $background-gray-1;
}

@mixin -background-gray-2() {
  background-color: $background-gray-2;
}

@mixin -background-gray-3() {
  background-color: $background-gray-3;
}

@mixin -background-red() {
  background-color: $background-red;
}

@mixin -background-blue-1() {
  background-color: $background-blue-1;
}

@mixin -background-blue-2() {
  background-color: $background-blue-2;
}

@mixin -background-green() {
  background-color: $background-green;
}

@mixin -background-gradient() {
	background: $background-gradient-color-1;
	background-image: linear-gradient(to bottom, $background-gradient-color-1 0%, $background-gradient-color-2 100%);
}
