@import "../../setup/color-palette.setup";

$background-page: $color-palette-white !default;

$background-gray-1: $color-palette-gray-1 !default;
$background-gray-2: $color-palette-gray-2 !default;
$background-gray-3: $color-palette-gray-3 !default;

$background-blue-1: $color-palette-blue-1 !default;
$background-blue-2: $color-palette-blue-2 !default;

$background-green: $color-palette-green !default;
$background-red: $color-palette-red !default;

$background-gradient-color-1: rgba($color-palette-gradient-color-1, .25) !default;
$background-gradient-color-2: rgba($color-palette-gradient-color-2, .55) !default;
