@import "../../setup/color-palette.setup.scss";

$background-page: $color-palette-white !default;

$background-gray-1: $color-palette-gray-1 !default;
$background-gray-2: $color-palette-gray-2 !default;

$background-blue-1: $color-palette-blue-1 !default;
$background-blue-2: $color-palette-blue-2 !default;

$background-green: $color-palette-green !default;
$background-red: $color-palette-red !default;