@import "../../setup/color-palette.setup";

$text-color-white: 	$color-palette-white !default;
$text-color-black: 	$color-palette-black !default;

$text-color-gray-1:	$color-palette-gray-1 !default;
$text-color-gray-2:	$color-palette-gray-2 !default;

$text-color-blue-1:	$color-palette-blue-1 !default;
$text-color-blue-2:	$color-palette-blue-2 !default;

$text-color-green:	$color-palette-green !default;

$text-color-red: 	$color-palette-red !default;


