@import "typo.mixin";
@import "../../mixins/breakpoint";

.-typo {

  &-headline-1 { @include -typo-headline-1(); }

  &-headline-2 { @include -typo-headline-2(); }

  &-headline-3 { @include -typo-headline-3(); }

  &-headline-4 { @include -typo-headline-4(); }

  &-headline-5 { @include -typo-headline-5(); }

  &-copy { @include -typo-copy(); }

  &-copy-link { @include -typo-link(); }

  &-copy--large { @include -typo-copy--large(); }


  &-copy--row-2 {
  	@include -typo-copy--row(1);

  	@include breakpoint('s') {
  		@include -typo-copy--row(2);
  	}
  }

  &-copy--row-3 {
  	@include -typo-copy--row(1);

  	@include breakpoint('s') {
  		@include -typo-copy--row(2);
  	}

  	@include breakpoint('m') {
  		@include -typo-copy--row(3);
  	}
  }
}

.overflow-ellipsis { @include -overflow-ellipsis(); }
