@import "../../mixins/breakpoint.scss";

@mixin -typo-headline-1() {
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 1.18181818;
  text-transform: uppercase;

  @include breakpoint('s') {
    font-size: 2.5rem;
    line-height: 1.14285714;
  }

  @include breakpoint('l') {
    font-size: 2.5rem;
    line-height: 1.1875;
  }
}

@mixin -typo-headline-2() {
  font-weight: normal;
  font-size: 2.188rem;
  line-height: 1.22222222;
  text-transform: uppercase;

  @include breakpoint('s') {
    font-size: 2.188rem;
    line-height: 1.16666667;
  }

  @include breakpoint('l') {
    font-size: 2.188rem;
    line-height: 1.1875;
  }
}

@mixin -typo-headline-3() {
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 1.22222222;
  text-transform: uppercase;

  @include breakpoint('s') {
    font-size: 1.875rem;
    line-height: 1.2;
  }

  @include breakpoint('l') {
    font-size: 1.875rem;
    line-height: 1.18181818;
  }
}

@mixin -typo-headline-4() {
  font-weight: normal;
  font-size: 1.563rem;
  line-height: 1.22222222;
  text-transform: uppercase;
}

@mixin -typo-headline-5() {
  font-size: 1.25rem;
  line-height: 1.42857143;
  text-transform: uppercase;
}

@mixin -typo-copy() {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.42857143;
}

@mixin -typo-link() {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.42857143;
  text-decoration: none;
}

@mixin -typo-copy--large() {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5625;
}

@mixin -typo-copy--row($rows) {
	column-count: $rows;
}

@mixin -overflow-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
