@import "loader-box.setup.scss";

.loader-box {
  position: relative;
  height: 100%;
  min-height: 5rem;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.875rem;
    margin-left: -1.875rem;
    width: 3.75rem;
    height: 3.75rem;
    display: block;
    background-image: url($loader-box-spinner-resource);
    background-position: center center;
    background-repeat: no-repeat;
    animation: animation-rotate-360 2s infinite linear;
  }
}

@keyframes animation-rotate-360 {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
}