<div class="teaser-register-newsletter {{ styleModifier }}">
	<div class="content">
		<div class="row">
			<div class="column column--12">
				<h1 class="teaser-register-newsletter__title">{{ teaser-register-newsletter_title }}</h1>
				<p class="teaser-register-newsletter__subtitle">{{ teaser-register-newsletter_subtitle }}</p>
			</div>
		</div>
		<div class="row -spacing-b">
			<div class="column column--12 column--s-4">
				{{> molecules-input:-spacing-d("input_label":"Dein Name", input_icon:"user") }}
			</div>
			<div class="column column--12 column--s-4">
				{{> molecules-input:-spacing-d("input_label":"Deine E-Mail Adresse", "input_type":"email", input_icon:"mail")  }}
			</div>
			<div class="column column--12 column--s-4">
				{{> molecules-button:-spacing-d("button_label": "Zum Newsletter anmelden", "button_icon":"send") }}
			</div>
		</div>
	</div>
</div>
