@import "../../base/font/font.mixin";
@import "../../base/typo/typo.mixin";
@import "../../base/text-color/text-color.mixin";

@import "header-page.setup";

.header-page {
	max-width: $header-page-max-width;

	&__title {
		@include -typo-headline-1();
		@include -font-secondary();
	}

	&__subtitle {
		@include -typo-copy--large();
		@include -font-primary();
		@include -text-color-blue-2();
		@include -spacing-static-f();
	}
}
