<div class="hero-image" style="background-image: url({{ hero-image_image }})" >
	{{# hero-image_overlay }}
		<div class="hero-image__overlay">
			{{ hero-image_overlayContent }}
		</div>
	{{/ hero-image_overlay }}
</div>
