@import "../../base/grid/flex.mixin";
@import "hero-image.setup";

.hero-image {
	width: $hero-image-width;
	min-height: $hero-image-min-height;
	max-height: $hero-image-max-height;
	overflow: hidden;
	position: relative;
	background-repeat: no-repeat;
  background-size: cover;

	&__overlay {
		@include flex();
		@include flex--center-horizontal();
		@include flex--center-vertical();

		width: $hero-image-overlay-dimension;
		height: $hero-image-overlay-dimension;
		position: absolute;
		top: $hero-image-overlay-position;
		left: $hero-image-overlay-position;
		background: $hero-image-overlay-gradient-color-1;
		background-image: linear-gradient(to bottom, $hero-image-overlay-gradient-color-1 0%, $hero-image-overlay-gradient-color-2 100%);
	}
}
