<ul class="sg-colors">
	<li>
		<span class="sg-swatch -background-page"></span>
		<span class="sg-label">
			$background-page<br />
      @include -background-page();<br />
			#FFFFFF
		</span>
	</li>
</ul>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch -background-gray-1"></span>
    <span class="sg-label">
			$background-gray-1<br />
      @include -background-gray-1();<br />
			#595556
		</span>
  </li>
  <li>
    <span class="sg-swatch -background-gray-2"></span>
    <span class="sg-label">
			$background-gray-2<br />
      @include -background-gray-2();<br />
			#f0f0f0
		</span>
  </li>
  <li>
    <span class="sg-swatch -background-gray-3"></span>
    <span class="sg-label">
			$background-gray-3<br />
      @include -background-gray-3();<br />
			#fbfbfb
		</span>
  </li>
  <li>
    <span class="sg-swatch -background-blue-1"></span>
    <span class="sg-label">
			$background-blue-1<br />
      @include -background-blue-1();<br />
			#447A8B
		</span>
  </li>
  <li>
    <span class="sg-swatch -background-blue-2"></span>
    <span class="sg-label">
			$background-blue-2<br />
      @include -background-blue-2();<br />
			#798796
		</span>
  </li>

  <li>
    <span class="sg-swatch -background-green"></span>
    <span class="sg-label">
			$background-green<br />
      @include -background-green();<br />
			#1CB4B4
		</span>
  </li>

  <li>
    <span class="sg-swatch -background-red"></span>
    <span class="sg-label">
			$background-red<br />
      @include -background-red();<br />
			#CF4135
		</span>
  </li>
  <li>
    <span class="sg-swatch -background-gradient"></span>
    <span class="sg-label">
      $background-gradient<br />
      @include -background-gradient();<br />
      from #ABECD6 to #FBED96
    </span>
  </li>
</ul>
