<ul class="sg-colors">
	<li>
		<span class="sg-swatch -background-page"></span>
		<span class="sg-label">
			$background-page<br />
      @include -background-page();<br />
			#FFFFFF
		</span>
	</li>
</ul>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch -background-gray-1"></span>
    <span class="sg-label">
			$background-gray-1<br />
      @include -background-gray-1();<br />
			#292a2e
		</span>
  </li>
  <li>
    <span class="sg-swatch -background-gray-2"></span>
    <span class="sg-label">
			$background-gray-2<br />
      @include -background-gray-2();<br />
			#4a4d54
		</span>
  </li>
  <li>
    <span class="sg-swatch -background-blue-1"></span>
    <span class="sg-label">
			$background-blue-1<br />
      @include -background-blue-1();<br />
			#84868c
		</span>
  </li>
  <li>
    <span class="sg-swatch -background-blue-2"></span>
    <span class="sg-label">
			$background-blue-2<br />
      @include -background-blue-2();<br />
			#2a4b6d
		</span>
  </li>

  <li>
    <span class="sg-swatch -background-green"></span>
    <span class="sg-label">
			$background-green<br />
      @include -background-green();<br />
			#2a4b6d
		</span>
  </li>

  <li>
    <span class="sg-swatch -background-red"></span>
    <span class="sg-label">
			$background-red<br />
      @include -background-red();<br />
			#cc0000
		</span>
  </li>
</ul>
