<ul class="sg-colors">
  <li>
		<span class="sg-label -text-color-white">
			$text-color-white<br/>
      @include -text-color-white();<br />
			#ffffff
		</span>
  </li>
  <li>
		<span class="sg-label -text-color-black">
			$text-color-black<br/>
      @include -text-color-black();<br />
			#000000
		</span>
  </li>
</ul>
<ul class="sg-colors">
  <li>
		<span class="sg-label -text-color-red">
			$text-color-red<br/>
      @include -text-color-red();<br />
			#cc0000
		</span>
  </li>
  <li>
		<span class="sg-label -text-color-blue-1">
			$text-color-blue-1<br/>
      @include -text-color-blue-1();<br />
			#ee2525
		</span>
  </li>
  <li>
		<span class="sg-label -text-color-blue-2">
			$text-color-blue-2<br/>
      @include -text-color-blue-2();<br />
			#ff9900
		</span>
  </li>
  <li>
		<span class="sg-label -text-color-green">
			$text-color-green<br/>
      @include -text-color-green();<br />
			#009c51
		</span>
  </li>
</ul>
