@import "../../base/font/font.mixin";
@import "../../base/typo/typo.mixin";
@import "../../base/align/align.mixin";
@import "../../base/spacing/spacing.mixin";
@import "../../mixins/breakpoint";

@import "button-outline.setup";

.button-outline {
	$bem-block: &;

	@include -font-primary;
	@include -align-center;
	@include transition(all, .2s);
	@include -spacing-f();

	width: $button-outline-width;
	height: $button-outline-height;
	display: inline-block;
	outline: none;
	appearance: none;
	box-sizing: border-box;
	border: $button-outline-border-size $button-outline-border-color solid;
	background: $button-outline-background-color;
	cursor: pointer;

	@include breakpoint('s') {
		@include -spacing-zero();
	}

	&__icon {
	  display: inline-block;
	  vertical-align: middle;
	  position: relative;
	  color: $button-outline-icon-color;
	  font-size: $button-outline-icon-font-size;
	}

	&__label {
	  display: inline-block;
	  vertical-align: middle;
	  font-size: $button-outline-label-font-size;
	  line-height: normal;
	  color: $button-outline-label-color;

	  &--icon {
	    margin-left: $button-outline-label-with-icon-margin-left;
	  }
	}

	// button is hovered
	&:hover {
	  background: $button-outline-background-color-hovered;

	  #{$bem-block}__icon {
	  	color: $button-outline-icon-color-hovered;
	  }

	  #{$bem-block}__label {
		color: $button-outline-label-color-hovered;
	  }
	}

	// button is disabled
	&:disabled {

		background: transparent;

	  	#{$bem-block}__icon {
	    	color: $button-outline-icon-color-disabled;
	  	}

	  	#{$bem-block}__label {
	    	color: $button-outline-label-color-disabled;
	  	}
	}
}
