@import "../../setup/color-palette.setup";

$button-icon-width: 100% !default;
$button-icon-width-s: 3.75rem !default;
$button-icon-height: 3.75rem !default;
$button-icon-background-color: $color-palette-blue-1 !default;

$button-icon-border-radius: .1875rem !default;

$button-icon-background-color-hovered: $color-palette-green !default;
$button-icon-background-color-disabled: rgba($color-palette-blue-1, 0.7) !default;

$button-icon-icon-font-size: 1.25rem !default;
$button-icon-icon-color: $color-palette-white !default;
$button-icon-icon-color-disabled: rgba($color-palette-white, 0.7) !default;

/** red button **/
$button-icon-background-color-red: $color-palette-red !default;
$button-icon-background-color-red-hovered: darken($color-palette-red, 5%) !default;
$button-icon-background-color-red-disabled: lighten($color-palette-red, 5%) !default;
$button-icon-icon-color-red-disabled: rgba($color-palette-white, 0.7) !default;

/** green button **/
$button-icon-background-color-green: $color-palette-green !default;
$button-icon-background-color-green-hovered: darken($color-palette-green, 5%) !default;
$button-icon-background-color-green-disabled: lighten($color-palette-green, 5%) !default;
$button-icon-icon-color-green-disabled: rgba($color-palette-white, 0.7) !default;

$button-icon-box-shadow-color-focus: rgba($color-palette-black, .2) !default;

$button-icon-list-action-height: 100% !default;
$button-icon-list-action-margin-top: 0 !default;
