@import "button-inline.setup.scss";
@import "../../base/font/font.mixin.scss";
@import "../../base/typo/typo.mixin.scss";
@import "../../base/align/align.mixin.scss";

.button-inline {
  @include -align-center;
  position: relative;
  height: $button-inline-height;
  min-width: $button-inline-min-width;
  max-width: 100%;
  padding: $button-inline-spacing-vertical $button-inline-spacing-horizontal;
  display: inline-block;
  appeareance: none;
  outline: none;
  box-sizing: border-box;
  border: 0;
  background: $button-inline-background-color;
  color: $button-inline-text-color;
  cursor: pointer;

  &:hover {
    background: $button-inline-background-color-hovered;
  }

  &--active {
    background: $button-inline-background-color-active;
    color: $button-inline-text-color-active;

    &:hover {
      background: $button-inline-background-color-hovered-active;
    }
  }

  &--rounded {
    border-radius: $button-inline-border-radius;
  }

  &--stretch {
    @include -align-left;
    width: 100%;
    display: block;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: $button-inline-spacing-horizontal;
    transform: translate(0,-50%);
    font-size: $button-inline-icon-font-size;
  }

  &__label {
    @include -overflow-ellipsis;
    @include -font-primary;
    font-size: $button-inline-label-font-size;
    line-height: $button-inline-height;
    display: block;

    &--icon {
      margin-left: $button-inline-icon-font-size + $button-inline-icon-spacing-to-label;
    }
  }
}