@import "../../setup/color-palette.setup";

$button-background-color: $color-palette-blue-1 !default;
$button-width: 100% !default;
$button-height: 3.75rem !default;
$button-border-radius: .1875rem !default;

$button-icon-color: $color-palette-white !default;
$button-icon-font-size: 1.125rem !default;

$button-label-color: $color-palette-white !default;
$button-label-font-size: 1rem !default;
$button-label-with-icon-margin-left: .625rem !default;

$button-background-color-hovered: $color-palette-green !default;

$button-background-color-disabled: rgba($color-palette-blue-1, 0.7) !default;
$button-icon-color-disabled: rgba($color-palette-white, 0.7) !default;
$button-label-color-disabled: rgba($color-palette-white, 0.7) !default;

$button-box-shadow-color-focus: rgba($color-palette-black, .2) !default;
