// TODO: color codes needs to be included by common color palette
$button-background-color: #4A4D54 !default;
$button-disabled-background-color: rgb(41, 42, 46) !default;
$button-submit-background-color: #C00 !default;

$button-icon-border-color: rgba(255,255,255,0.75) !default;
$button-icon-background-color: transparent !default;
$button-icon-color: #fff !default;
$button-hovered-icon-border-color: transparent !default;
$button-hovered-icon-background-color: #fff !default;
$button-hovered-icon-color: #4A4D54 !default;
$button-disabled-icon-border-color: rgb(73, 76, 82) !default;

$button-label-color: #fff !default;
$button-disabled-label-color: rgb(73, 76, 82) !default;
