@import "../../mixins/breakpoint";
@import "../../mixins/animation";
@import "../../base/font/font.mixin";
@import "../../base/typo/typo.mixin";
@import "../../base/align/align.mixin";

@import "button.setup";


.button {
  $bem-block: &;
  @include transition(all, .2s);
  @include -font-primary();
  @include -align-center();
	@include -spacing-f();

  width: $button-width;
  height: $button-height;
  display: inline-block;
  outline: none;
  appearance: none;
  box-sizing: border-box;
  border: 0;
  background: $button-background-color;
  cursor: pointer;
  border-radius: $button-border-radius;

  @include breakpoint('s') {
		@include -spacing-zero();
	}


  &__icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: $button-icon-color;
    font-size: $button-icon-font-size;
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    font-size: $button-label-font-size;
    line-height: normal;
    color: $button-label-color;

    &--icon {
      margin-left: $button-label-with-icon-margin-left;
    }
  }

  // button is hovered
  &:hover {
    background: $button-background-color-hovered;
    box-shadow: 0 5px 30px 0 $button-box-shadow-color-focus;
  }

  // button is disabled
  &:disabled {

    background: $button-background-color-disabled;

    #{$bem-block}__icon {
      color: $button-icon-color-disabled;
    }

    #{$bem-block}__label {
      color: $button-label-color-disabled;
    }
  }
}
