{{# beachcourt }}
	<div class="beachcourt-summary {{ styleModifier }}" >
		<img src="{{ image }}" class="beachcourt-summary__image">

		<div class="beachcourt-summary__overlay">

			<span class="beachcourt-summary__favorite icon icon--heart-o"></span>
			<h3 class="beachcourt-summary__title">{{ name }}</h3>
			<span class="beachcourt-summary__distance">
				<span class="icon icon--distance beachcourt-summary__icon-distance"></span>
				{{ distance }}
			</span>
			<div class="beachcourt-summary__location">
				<span class="beachcourt-summary__icon-location icon icon--map-marker"></span>
				<span class="beachcourt-summary__coordinate">{{ longitude }} <br> {{ latitude }}</span>
			</div>

			<ul class="beachcourt-summary__benefits">
				{{# benefits }}
					<li><span class="icon icon--{{ icon }}"></span> </li>
				{{/ benefits }}
			</ul>
		</div>

	</div>
{{/ beachcourt }}
