@import "../../base/background/background.mixin";
@import "../../base/grid/flex.mixin";
@import "../../base/font/font.mixin";
@import "../../base/typo/typo.mixin";
@import "../../base/align/align.mixin";

@import "topbar.setup";

.topbar {
	background: $topbar-background-color;
	height: $topbar-height;
	width: $topbar-width;
	position: fixed;
	top: $topbar-position-top;
	left: $topbar-position-left;
	z-index: $topbar-z-index;
	box-shadow: 0 1px 10px $topbar-box-shadow-color;

	&__row {
		@include flex();
		@include flex--center-horizontal();
		@include flex--row-wrap();
		height: $topbar-height;
		position: relative;
	}

	&__logo {
		max-width: $topbar-logo-max-width;
		display: inline;
	}

	&__title {
		@include -font-secondary();
		@include -typo-headline-1();
		color: $topbar-title-text-color;
		padding-left: $topbar-title-padding-left;
		display: none;

		@include breakpoint('xs') {
			display: inline;
		}
	}

	&__button {
		max-width: $topbar-button-max-width;
	}

	&__mfm {
		top: $topbar-mfm-position;
	}
}
