@import "../../setup/color-palette.setup";

$topbar-background-color: $color-palette-white !default;
$topbar-height: 5.3125rem !default;
$topbar-width: 100% !default;
$topbar-position-top: 0 !default;
$topbar-position-left: 0 !default;
$topbar-z-index: 100 !default;
$topbar-box-shadow-color: rgba($color-palette-gray-1, .2) !default;

$topbar-logo-max-width: 2.8125rem !default;
$topbar-title-text-color: $color-palette-blue-1 !default;

$topbar-title-padding-left: 0.625rem !default;
$topbar-button-max-width: 7.8125rem !default;
$topbar-mfm-position: 1rem !default;
