<ul class="navigation-footer {{ styleModifier }}">
	{{# navigation-footer }}
	<li class="navigation-footer__item">
		<a href="#" class="navigation-footer__link">
			{{# icon }}<span class="navigation-footer__icon icon icon--{{ icon }}"></span> {{/ icon }}
			{{ linkTitle }}</a>
	</li>
	{{/ navigation-footer }}
</ul>
