<button type="button" class="button {{ styleModifier }}" {{# button_disabled }} disabled="disabled" {{/ button_disabled }}>
	{{# button_icon }}
		<span class="button__icon icon icon--{{ button_icon }}"></span>
	{{/ button_icon }}
	<span class="button__label {{# button_icon }}button__label--icon{{/ button_icon }}">{{ button_label }}</span>
</button>
