<button type="button" class="button-icon {{ styleModifier }} {{# button-icon_color }} button-icon--{{ button-icon_color }} {{/ button-icon_color }}" {{# button-icon_disabled }} disabled="disabled" {{/ button-icon_disabled }}>
	{{# button-icon_icon }}
		<span class="button-icon__icon icon icon--{{ button-icon_icon }}"></span>
	{{/ button-icon_icon }}
</button>
