<button type="button" class="button-outline {{ styleModifier }}" {{# button-outline_disabled }} disabled="disabled" {{/ button-outline_disabled }}>
	{{# button-outline_icon }}
		<span class="button-outline__icon icon icon--{{ button-outline_icon }}"></span>
	{{/ button-outline_icon }}
	<span class="button-outline__label {{# button-outline_icon }}button-outline__label--icon{{/ button-outline_icon }}">{{ button-outline_label }}</span>
</button>
