<div class="notification-box {{ styleModifier }} {{# notification-box_icon }} notification-box--{{ notification-box_icon }} {{/ notification-box_icon }}">
	{{# notification-box_icon }}
		<div class="notification-box__icon icon icon--{{ notification-box_icon }}"></div>
	{{/ notification-box_icon }}
	<div class="notification-box__message">
		<h4 class="notification-box__headline">{{ notification-box_headline }}</h4>
		<p class="notification-box__subline">{{ notification-box_subline }}</p>
		<ul class="notification-box__list">
			{{# notification-box_list }}
				<li class="notification-box__item">
					<span class="notification-box__item-icon icon icon--caret-right"></span>
					{{ item }}
				</li>
			{{/ notification-box_list }}
		</ul>
	</div>
</div>
