<div class="notification-box-rating {{ styleModifier }}">
	<div class="notification-box-rating__summary">
		<img src="http://beachfelder.de/img/badge-rating-beachcourt-detail-page@2x.png" class="notification-box-rating__image">
		<h4 class="notification-box-rating__points">{{ notification-box-rating_points }}</h4>
	</div>
	<div class="notification-box-rating__details">
		{{# notification-box-rating }}
			<dl>
				<dt class="notification-box-rating__label"> {{ label }} </dt>
				<dd class="notification-box-rating__rating"> {{ rating }} </dd>
			</dl>
		{{/ notification-box-rating }}
	</div>
</div>
