@import "../../setup/color-palette.setup";

$footer-sponsoring-background-color: $color-palette-gray-3 !default;
$footer-sponsoring-navigation-vertical-position: 0 !default;
$footer-sponsoring-navigation-height: 100% !default;
$footer-sponsoring-navigation-width: 1.875rem !default;
$footer-sponsoring-icon-font-color: $color-palette-gray-1 !default;
$footer-sponsoring-icon-font-size: 2rem !default;

$footer-sponsoring-box-shadow-color: rgba($color-palette-white, .0) !default;
$footer-sponsoring-box-shadow-color-hovered: rgba($color-palette-black, .2) !default;
