<div class="footer {{ styleModifier }}">
	<div class="content">
		<div class="row">
			<div class="column column--12 column--xs-4">
				{{> molecules-navigation-footer }}
			</div>
			<div class="column column--12 column--xs-4">
				{{> molecules-navigation-footer }}
			</div>
			<div class="column column--12 column--xs-4">
				{{> molecules-navigation-footer }}
			</div>
		</div>
	</div>
</div>
