<div class="footer-sponsoring {{ styleModifier }}">
	<ul class="footer-sponsoring__slider">
		<div class="footer-sponsoring__navigation icon icon--arrow-left-thin footer-sponsoring__navigation--arrow-left"></div>
		{{# footer-sponsoring }}
			<li class="footer-sponsoring__item">
				<img src="{{ image }}">
			</li>
		{{/ footer-sponsoring }}
		<div class="footer-sponsoring__navigation icon icon--arrow-right-thin footer-sponsoring__navigation--arrow-right"></div>
	</ul>

</div>
