@import "flex.mixin";

.flex {
  @include flex;

  &-xs {
    @include breakpoint('xs') { @include flex; }
  }

  &-s {
    @include breakpoint('s') { @include flex; }
  }

  &-m {
    @include breakpoint('m') { @include flex; }
  }

  &-l {
    @include breakpoint('l') { @include flex; }
  }

  /* displays as column */
  &--column { @include flex--direction(column); }

  /* displays as row */
  &--row { @include flex--direction(row); }

  /* center things vertically  */
  &--center-vertical { @include flex--center-vertical; }

  /* center things horizontally  */
  &--center-horizontal { @include flex--center-horizontal; }

  /* revese columns */
  &--column-reverse { @include flex--column-reverse; }

  /* revese rows */
  &--row-reverse { @include flex--row-reverse; }

  /* wraps the rows */
  &--row-wrap { @include flex--row-wrap; }

  /* grows elements via flex-grow */
  &--grow { @include flex--grow(1); }
}
