@import "../../mixins/breakpoint";

@mixin flex {
  display: flex;
}

@mixin flex--center-vertical {
  justify-content: center;
}

@mixin flex--center-horizontal {
  align-items: center;
}

@mixin flex--column-reverse {
  flex-direction: column-reverse;
}

@mixin flex--row-reverse {
  flex-direction: row-reverse;
}

@mixin flex--row-wrap {
  flex-wrap: wrap;
}

@mixin flex--direction ($direction) {
  flex-direction: $direction;
}

@mixin flex--grow($grow) {
  flex-grow: $grow;
}

@mixin flex--justify-content($justify-content) {
  justify-content: $justify-content;
}
