@import "../../setup/color-palette.setup";

$navigation-footer-text-color: $color-palette-white !default;
$navigation-footer-text-color-hovered: darken($color-palette-red, 25%) !default;

$navigation-footer-item-font-size: 1.25rem !default;

$navigation-footer-icon-text-color: $color-palette-white !default;
$navigation-footer-icon-font-size: 1.875rem !default;
$navigation-footer-link-icon-spacing-left: .5rem !default;
