@import "../../mixins/animation";
@import "../../mixins/breakpoint";
@import "../../base/typo/typo.mixin";
@import "../../base/font/font.mixin";
@import "../../base/spacing/spacing.mixin";
@import "../../base/align/align.mixin";
@import "navigation-footer.setup";

.navigation-footer {
	$bem-block: &;

	@include -align-center();
	@include -spacing-static-c();

	@include breakpoint('m') {
		@include -align-left();
		@include -spacing-zero();
	}

	&__item {
		@include -font-primary();
		font-size: $navigation-footer-item-font-size;

		&:hover #{$bem-block}__link {
			@include transition(color, .2s);
			color: $navigation-footer-text-color-hovered;
		}
	}

	&__icon {
		color: $navigation-footer-icon-text-color;
		font-size: $navigation-footer-icon-font-size;
		vertical-align: text-bottom;
	}

	&__link {
		color: $navigation-footer-text-color;
		text-decoration: none;
		display: block;
	}
}
