<div class="multifunctional-menu {{ styleModifier }}
{{# multifunctional-menu_icon }} icon icon--{{ multifunctional-menu_icon }} {{/ multifunctional-menu_icon }} {{# multifunctional-menu_image }} multifunctional-menu--image {{/ multifunctional-menu_image }}
">
	{{# multifunctional-menu_image }}
		<img src="{{ multifunctional-menu_image }}" class="multifunctional-menu__image">
	{{/ multifunctional-menu_image }}
</div>
