<div class="teaser-register-newsletter {{ styleModifier }}">
	<div class="row">
		<div class="column column--12">
			<h3 class="-typo-headline-1 -font-secondary -text-color-blue-1">{{ teaser-register-newsletter_headline }}</h3>
			<p class="-typo-copy -font-primary -text-color-blue-2 -spacing-static-f">{{ teaser-register-newsletter_intro }} </p>
		</div>
	</div>
	<div class="row -spacing-a">
		<div class="column column--12 column--m-4">
			{{> atoms-input("input_label":"Dein Name") }}
		</div>
		<div class="column column--12 column--m-4">
			{{> atoms-input("input_label":"Deine E-Mail Adresse")  }}
		</div>
		<div class="column column--12 column--m-4">
		</div>
	</div>
</div>