@import "../../setup/color-palette.setup";


$multifunctional-menu-dimension: 2.813rem !default;
$multifunctional-menu-dimension-m: 3.125rem !default;
$multifunctional-menu-background-color: $color-palette-gray-2 !default;
$multifunctional-menu-border-radius: 100% !default;
$multifunctional-menu-icon-color: $color-palette-blue-2 !default;
$multifunctional-menu-icon-font-size: 1.25rem !default;
$multifunctional-menu-safe-click-area: -.4375rem !default;
$multifunctional-menu-horizontal-position-top: 0 !default;
$multifunctional-menu-horizontal-position: 1rem !default;
$multifunctional-menu-horizontal-position-m: 0 !default;

/** image **/
$multifunctional-menu-image-dimension: 100% !default;

/** hovered **/
$multifunctional-menu-background-color-hovered: $color-palette-blue-2 !default;
$multifunctional-menu-icon-color-hovered: $color-palette-white !default;
