<div class="header-page {{ styleModifier }}">
	<h1 class="header-page__headline {{# header-page_headlineColor }} -text-color-{{ header-page_headlineColor }} {{/ header-page_headlineColor }}">
		{{ header-page_headline }}
	</h1>
	{{# header-page_subline }}
	<p class="header-page__subline">
		{{ header-page_subline }}
	</p>
	{{/ header-page_subline }}
</div>