@import "spacing.setup";
@import "../../mixins/breakpoint";

@mixin -spacing-static-a() { margin-top: .1875rem; }
@mixin -spacing-static-b() { margin-top: .625rem; }
@mixin -spacing-static-c() { margin-top: .75rem; }
@mixin -spacing-static-d() { margin-top: 1.125rem; }
@mixin -spacing-static-e() { margin-top: 1.5rem; }
@mixin -spacing-static-f() { margin-top: 1.875rem; }

@mixin -spacing-a() {
  margin-top: 1.5625rem;
  @include breakpoint('s') { margin-top: 2.5rem; }
  @include breakpoint('l') { margin-top: 3.125rem; }
}

@mixin -spacing-b() {
  margin-top: 1.5rem;
  @include breakpoint('l') { margin-top: 1.875rem; }
}

@mixin -spacing-c() {
  margin-top: 1.125rem;
  @include breakpoint('m') { margin-top: 1.5rem; }
  @include breakpoint('l') { margin-top: 1.875rem; }
}

@mixin -spacing-d() {
  margin-top: 1.125rem;
  @include breakpoint('s') { margin-top: 1.5rem; }
}

@mixin -spacing-e() {
  margin-top: 1.125rem;
  @include breakpoint('s') { margin-top: 1.5rem; }
  @include breakpoint('l') { margin-top: 1.125rem; }
}

@mixin -spacing-f() {
  margin-top: .75rem;
  @include breakpoint('s') { margin-top: 1.125rem; }
}

@mixin -spacing-widget-default() {
  margin-top: 2.5rem;
  @include breakpoint('l') { margin-top: 5rem; }
}

@mixin -spacing-zero() { margin-top: 0; }

@mixin -spacing-inner-a() {
  padding: $spacing-inner-a-horizontal $spacing-inner-a-vertical;


  @include breakpoint('s') {
    padding: $spacing-inner-a-horizontal-s $spacing-inner-a-vertical-s;

  }
  @include breakpoint('l') {
    padding: $spacing-inner-a-horizontal-l $spacing-inner-a-vertical-l;
  }
}

@mixin -spacing-inner-b() {
  padding: $spacing-inner-b-horizontal $spacing-inner-b-vertical;


  @include breakpoint('s') {
    padding: $spacing-inner-b-horizontal-s $spacing-inner-b-vertical-s;

  }
  @include breakpoint('l') {
    padding: $spacing-inner-b-horizontal-l $spacing-inner-b-vertical-l;
  }
}
