/** Inner Spacing A **/
$spacing-inner-a-horizontal: 1.125rem !default;
$spacing-inner-a-vertical: 1.0625rem !default;

$spacing-inner-a-horizontal-s: 1.5rem !default;
$spacing-inner-a-vertical-s: 2.4375rem !default;

$spacing-inner-a-horizontal-l: 1.875rem !default;
$spacing-inner-a-vertical-l: 2.8125rem !default;

/** Inner Spacing B **/
$spacing-inner-b-horizontal: .625rem !default;
$spacing-inner-b-vertical: 1.25rem !default;

$spacing-inner-b-horizontal-s: .625rem !default;
$spacing-inner-b-vertical-s: 1.5625rem !default;

$spacing-inner-b-horizontal-l: .9375rem !default;
$spacing-inner-b-vertical-l: 1.875rem !default;