@import "../../mixins/animation";
@import "../../base/grid/flex.mixin";
@import "../../base/align/align.mixin";
@import "../../base/background/background.mixin";
@import "slider-image.setup";

.slider-image {
	@include flex();
	@include flex--center-vertical();

	position: relative;

	&__navigation {
		@include flex();
		@include flex--center-horizontal();
		@include transition(all, .2s);
		background-color: $slider-image-navigation-background-color;
		padding: $slider-image-navigation-inner-spacing;
		position: absolute;
		top: $slider-image-navigation-position;
		height: $slider-image-navigation-height;
		transform: translate(0, -$slider-image-navigation-position);
		color: $slider-image-navigation-font-color;
		font-size: $slider-image-navigation-font-size;
		cursor: pointer;
		box-shadow: 0 5px $slider-image-navigation-box-shadow-position 0 $slider-image-navigation-box-shadow-color;

		&:hover {
			box-shadow: 0 5px $slider-image-navigation-box-shadow-position 0 $slider-image-navigation-box-shadow-color-hovered;
		}

		&--right {
			right: $slider-image-navigation-position-right;
		}

		&--left {
			left: $slider-image-navigation-position-left;
		}
	}

	&__image {
		cursor: move;
	}

	&__indication-dots {
		@include -align-center();
		position: absolute;
		bottom: $slider-image-indication-dots-position;
		left: $slider-image-indication-dots-position;
		right: $slider-image-indication-dots-position;
		padding: $slider-image-indication-dots-inner-spacing;
	}

	&__dot {
		width: $slider-image-indication-dot-dimension;
		height: $slider-image-indication-dot-dimension;
		background-color: $slider-image-indication-dot-background-color;
		display: inline-block;
		border-radius: $slider-image-indication-dot-border-radius;
		margin-left: $slider-image-indication-dot-spacing-horizontal;
		margin-right: $slider-image-indication-dot-spacing-horizontal;
		cursor: pointer;

		&--active {
			background-color: $slider-image-indication-dot-background-color-active;
		}
	}
}
