$color-palette-white:               #ffffff !default;
$color-palette-black:               #000000 !default;

$color-palette-gray-1:              #595556 !default;
$color-palette-gray-2:              #f0f0f0 !default;
$color-palette-gray-3:							#fbfbfb !default;
$color-palette-blue-1:              #447A8B !default;
$color-palette-blue-2:              #798796 !default;

$color-palette-green:               #08b8b8 !default;

$color-palette-red:									#CF4135 !default;
$color-palette-yellow:							#E6D272 !default;

$color-palette-gradient-color-1:		#08b8b8 !default;
$color-palette-gradient-color-2:		#e7d374 !default;
