<div class="profile-user {{ styleModifier }}">
	<div class="content">
		<div class="row">
			<div class="column column--12 column--s-4">
				<div class="profile-user-image">
					<img src="{{profile-user_image}}" class="image">

					<div class="profile-user-image__edit">
        		<span class="profile-user-image__icon icon icon--camera"></span>
          	<span class="profile-user-image__label">Profilbild ändern</span>
        	</div>
				</div>

			</div>
			<div class="column column--12 column--s-8">
				<h4 class="profile-user__title"> {{ profile-user_title }} </h4>
				<dl class="profile-user__details">
					{{# profile-user_information }}
						<dt class="profile-user__label"> {{ label }}</dt>
						<dd class="profile-user__info"> {{ value }}</dd>
					{{/ profile-user_information }}
				</dl>

				{{> molecules-button(button_label:"Profil bearbeiten",button_icon:"edit")}}
			</div>
		</div>
	</div>
</div>
