<label class="checkbox {{ styleModifier }}">
  <input class="checkbox__field"
         type="checkbox"
         name="{{checkbox_name}}"
         value="{{checkbox_value}}"
         {{# checkbox_checked }} checked="checked" {{/ checkbox_checked }}
         {{# checkbox_disabled }} disabled="disabled" readonly {{/ checkbox_disabled }}>

  <span class="checkbox__icon icon icon--check"></span>
  {{# checkbox_label }}
    <span class="checkbox__label">{{ checkbox_label }}</span>
  {{/ checkbox_label }}
</label>