<label class="checkbox-switch {{ styleModifier }}">
  <input class="checkbox-switch__field"
         type="checkbox"
         name="{{checkbox-switch_name}}"
         value="{{checkbox-switch_value}}"
         {{# checkbox-switch_checked }} checked="checked" {{/ checkbox-switch_checked }} 
         >
  <span class="checkbox-switch__label"></span>
</label>