<label class="input {{ styleModifier }}">
	<input type="{{input_type}}" class="input__field" placeholder=" ">
	{{# input_icon }}
		<span class="input__icon icon icon--{{ input_icon }} "></span>
	{{/ input_icon }}
	<span class="input__label">{{ input_label }}</span>
</label>
