@import "icon.setup.scss";

@font-face {
  font-family: 'bfde-iconfont';
  src: url('#{$icon-resource-base-path}/fontawesome-webfont.eot?iaj4st');
  src: url('#{$icon-resource-base-path}/fontawesome-webfont.eot?iaj4st#iefix') format('embedded-opentype'),
       url('#{$icon-resource-base-path}/fontawesome-webfont.ttf?iaj4st') format('truetype'),
       url('#{$icon-resource-base-path}/fontawesome-webfont.woff?iaj4st') format('woff'),
       url('#{$icon-resource-base-path}/fontawesome-webfont.svg?iaj4st#fontawesome-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bfde-iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &--send:before {
    content: '\f1d8';
  }

  &--search:before {
    content: '\f002';
  }

  &--heart-o:before {
    content: '\f08a';
  }

  &--heart:before {
    content: '\f004';
  }

  &--map-marker:before {
    content: '\f041';
  }

  &--user-circle:before {
    content: '\f2bd';
  }

  &--user:before {
    content: '\f007';
  }

  &--users:before {
    content: '\f0c0';
  }

  &--facebook:before {
    content: '\f230';
  }

  &--instagram:before {
    content: '\f16d';
  }

  &--password:before {
    content: '\f023';
  }

  &--close:before {
    content: '\f00d';
  }

  &--edit:before {
    content: '\f040';
  }

  &--camera:before {
    content: '\f030';
  }

  &--delete:before {
    content: '\f014';
  }

  &--benefits:before {
    content: '\f0a3';
  }

  &--address:before {
    content: '\f2ba';
  }

  &--info:before {
    content: '\f05a';
  }

  &--warning:before {
    content: '\f071';
  }

  &--success:before {
    content: '\f00c';
  }

	&--ellipsis:before {
    content: '\f142';
  }

  &--bars:before {
    content: '\f0c9';
  }

  &--cog:before {
    content: '\f013';
  }

  &--check:before {
    content: '\f00c';
  }

  &--shower:before {
    content: '\f2cc';
  }

  &--parking:before {
    content: '\f1b9';
  }

  &--eating:before {
    content: '\f0f5';
  }

  &--mail:before {
    content: '\f0e0';
  }

  &--arrow-right-thin:before {
    content: '\f105';
 	}

 	&--arrow-left-thin:before {
 	  content: '\f104';
 	}

 	&--caret-right:before {
 	  content: '\f0da';
 	}

 	&--distance:before {
 	  content: '\f124';
 	}
}
