@import "align.mixin";

.-align {

  &-left { @include -align-left(); }

  &-center { @include -align-center(); }

  &-right { @include -align-right(); }

  &-middle { @include -align-middle(); }
}