<div class="page">
	{{> organisms-topbar }}

	<div class="row row--zero">
		<div class="column column--12 column--zero">
			{{> molecules-hero-image }}
		</div>
	</div>
	<div class="-background-gray-2 -spacing-inner-a">
		<div class="content">
			<div class="row">
				<div class="column column--12 column--s-10">
					{{> molecules-input(input_label:"Gib' eine PLZ oder einen Ort ein", input_icon:"map-marker") }}
				</div>
				<div class="column column--12 column--s-2">
					{{> molecules-button-icon(button-icon_icon:"search",button-icon_color:"red") }}
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="row -spacing-widget-default">
			<div class="column column--12">
				{{> organisms-header-page }}
				{{> molecules-multifunctional-menu(multifunctional-menu_icon: "ellipsis") }}
			</div>
		</div>

		<div class="row -spacing-a">
			<div class="column column--12 column--m-6">
				{{> organisms-slider-image }}
			</div>
			<div class="column column--12 column--m-6">

			</div>
		</div>
		<div class="row flex flex--row-wrap">
			<div class="column column--12 column--m-6 -spacing-static-f">
				{{> organisms-notification-box-rating }}
			</div>

			<div class="column column--12 column--m-6 -spacing-static-f">
				{{> organisms-notification-box }}
			</div>
		</div>
	</div>


	{{> organisms-footer-sponsoring:-spacing-widget-default }}
	{{> organisms-footer }}
</div>
