<div class="page">
	{{> organisms-topbar }}

	<div class="row row--zero">
		<div class="column column--12 column--zero">
			{{> molecules-hero-image }}
		</div>
	</div>
	<div class="-background-gray-2 -spacing-inner-a">
		<div class="content">
			<div class="row">
				<div class="column column--12 column--s-10">
					{{> molecules-input(input_label:"Gib' eine PLZ oder einen Ort ein", input_icon:"map-marker") }}
				</div>
				<div class="column column--12 column--s-2">
					{{> molecules-button-icon(button-icon_icon:"search",button-icon_color:"red") }}
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="row -spacing-widget-default">
			<div class="column column--12">
				{{> organisms-header-page }}
			</div>
		</div>
	</div>

	{{> organisms-teaser-register-newsletter:-spacing-widget-default }}

	<div class="content">
		<div class="row -spacing-widget-default">
			<div class="column column--12">
				{{> organisms-header-page(header-page_title: "Unsere neuesten Beachvolleyball-Felder", header-page_subtitle: "") }}
			</div>
		</div>

		<div class="row -spacing-a">
			<div class="column column--12 column--s-4">
				{{> organisms-beachcourt }}
			</div>
			<div class="column column--12 column--s-4">
				{{> organisms-beachcourt }}
			</div>
			<div class="column column--12 column--s-4">
				{{> organisms-beachcourt }}
			</div>
		</div>
	</div>
	{{> organisms-footer-sponsoring:-spacing-widget-default }}
	{{> organisms-footer }}

</div>
