<div class="page">
	{{> organisms-topbar }}

	<div class="row row--zero">
		<div class="column column--12 column--zero">
			{{> molecules-hero-image }}
		</div>
	</div>

	<div class="content">
		<div class="row -spacing-widget-default">
			<div class="column column--12">
				{{> organisms-header-page }}
			</div>
		</div>
	</div>

	{{> organisms-profile-user:-spacing-f }}

	<div class="content">
		<div class="row -spacing-widget-default">
			<div class="column column--12">
				<hr class="divider" />
			</div>
		</div>
		<div class="row -spacing-widget-default">
			<div class="column column--12">
				{{> organisms-header-page(header-page_title: 'Meine Favoriten')}}
			</div>
			<div class="column column--12 -spacing-f">
				{{> organisms-list-beachcourt }}
			</div>
		</div>
	</div>

	{{> organisms-teaser-register-newsletter:-spacing-widget-default }}

	{{> organisms-footer-sponsoring:-spacing-widget-default }}

	{{> organisms-footer }}

</div>
