<div class="page">
	{{> organisms-topbar }}

	<div class="row row--zero">
		<div class="column column--12 column--zero">
			{{> molecules-hero-image }}
		</div>
	</div>

	<div class="content">
		<div class="row -spacing-widget-default">
			<div class="column column--12">
				{{> organisms-header-page }}
			</div>
		</div>
		<div class="row -spacing-widget-default">
			<div class="column column--12">
				<h2 class="-typo-headline-2 -text-color-blue-1 -font-secondary">Kontaktdaten</h2>
				<p class="-typo-copy--large -font-primary -text-color-blue-2 -spacing-c">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto voluptatibus aliquid ut animi, eaque distinctio minus! Laudantium quasi, aliquam molestiae autem suscipit incidunt? Aut laboriosam suscipit eligendi iste, temporibus optio?
				</p>

				<p class="-typo-copy--large -font-primary -text-color-blue-2 -spacing-b">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto voluptatibus aliquid ut animi, eaque distinctio minus! Laudantium quasi, aliquam molestiae autem suscipit incidunt? Aut laboriosam suscipit eligendi iste, temporibus optio? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eius reprehenderit, consequatur natus cum a voluptatem minus maxime, nam odio eligendi dignissimos et aspernatur ipsam illum iure alias veniam fuga.
				</p>
			</div>
		</div>
		<div class="row -spacing-b">
			<div class="column column--12">
				<h4 class="-typo-headline-4 -text-color-blue-2 -font-secondary">Allgemeine Geschäftsbedinungen</h4>
				<p class="-typo-copy--large -font-primary -text-color-blue-2 -typo-copy--row-2 -spacing-f">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto voluptatibus aliquid ut animi, eaque distinctio minus! Laudantium quasi, aliquam molestiae autem suscipit incidunt? Aut laboriosam suscipit eligendi iste, temporibus optio? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eius reprehenderit, consequatur natus cum a voluptatem minus maxime, nam odio eligendi dignissimos et aspernatur ipsam illum iure alias veniam fuga.
				</p>
			</div>
		</div>

		<div class="row -spacing-b">
			<div class="column column--12">
				<p class="-typo-copy--large -font-primary -text-color-blue-2 -typo-copy--row-3">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto voluptatibus aliquid ut animi, eaque distinctio minus! Laudantium quasi, aliquam molestiae autem suscipit incidunt? Aut laboriosam suscipit eligendi iste, temporibus optio? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eius reprehenderit, consequatur natus cum a voluptatem minus maxime, nam odio eligendi dignissimos et aspernatur ipsam illum iure alias veniam fuga.
				</p>
			</div>
		</div>
	</div>

	{{> organisms-teaser-register-newsletter:-spacing-widget-default }}

	{{> organisms-footer-sponsoring:-spacing-widget-default }}

	{{> organisms-footer }}
</div>
