@import "../../../base/font/font.mixin";
@import "../../../base/typo/typo.mixin";
@import "../../../base/grid/flex.mixin";
@import "../../../base/align/align.mixin";
@import "../../../base/background/background.mixin";
@import "../../../base/text-color/text-color.mixin";
@import "../../../mixins/breakpoint";

@import "beachcourt-summary.setup";

.beachcourt-summary {
	@include -spacing-b();

	position: relative;
	overflow: hidden;
	width: $beachcourt-summary-width;
	height: $beachcourt-summary-height;

	@include breakpoint('s') {
		@include -spacing-zero();
	}

	&__image {
		position: absolute;
		top: $beachcourt-summary-image-position-top;
		left: $beachcourt-summary-image-position-left;
		width: $beachcourt-summary-image-dimension;
		height: auto;

		@include breakpoint('s') {
			width: auto;
			height: $beachcourt-summary-image-dimension;
		}
	}

	&__overlay {
		@include flex();
		@include flex--center-horizontal();
		@include flex--center-vertical();
		@include flex--direction(column);
		@include -spacing-inner-b();

		position: absolute;
		box-sizing: border-box;
		top: $beachcourt-summary-overlay-position-top;
		left: $beachcourt-summary-overlay-position-left;
		width: $beachcourt-summary-overlay-width;
		height: $beachcourt-summary-overlay-height;
		background: $beachcourt-summary-overlay-background-color;
	}

	&__favorite {
		@include -text-color-white();
		position: absolute;
		right: $beachcourt-summary-icon-position-right;
		top: $beachcourt-summary-icon-position-top;
		font-size: $beachcourt-summary-icon-font-size;
		cursor: pointer;
		padding: $beachcourt-summary-icon-spacing;

		@include breakpoint('s') {
			padding: $beachcourt-summary-icon-spacing-s;
		}
	}

	&__title {
		@include -text-color-white();
		@include -typo-headline-3();
		@include -font-secondary();
		@include -align-center();
	}

	&__distance {
		@include -background-page();
		@include -text-color-gray-1();
		@include -font-primary();
		@include -typo-copy();
		@include -spacing-static-c();
		padding: $beachcourt-summary-distance-inner-spacing-vertical $beachcourt-summary-distance-inner-spacing-horizontal;
	}

	&__icon {

		&-distance {
			@include -text-color-gray-1();
			margin-right: $beachcourt-summary-icon-distance-margin-right;
		}

		&-location {
			@include -text-color-white();
			@include -typo-copy();
			display: inline-block;
		}
	}

	&__location {
		@include -spacing-static-c();
		//border-top: $beachcourt-summary-divider-border-width solid $beachcourt-summary-divider-border-color;
	}

	&__coordinate {
		@include -text-color-white();
		@include -typo-copy();
		@include -font-primary();
		@include -align-center();
		display: inline-block;
	}

	&__benefits {
		@include -text-color-white();
		@include -align-center();
		width: $beachcourt-summary-benefits-list-width;
		position: absolute;
		bottom: $beachcourt-summary-benefits-list-position-bottom;

		@include breakpoint('s') {
			bottom: $beachcourt-summary-benefits-list-position-bottom-s;
		}

		li {
			display: inline-block;
			padding-left: $beachcourt-summary-benefits-list-item-spacing-vertical;
			padding-right: $beachcourt-summary-benefits-list-item-spacing-vertical;
			font-size: $beachcourt-summary-benefits-list-item-font-size;
		}
	}
}
