@import "../../setup/color-palette.setup";

$checkbox-switch-label-height: 1.6rem !default;
$checkbox-switch-width: 3rem !default;
$checkbox-switch-border-radius: .75rem !default;
$checkbox-switch-border-radius-label: 50% !default;
$checkbox-switch-width-switch: 1.4rem !default;
$checkbox-switch-background-color-label: $color-palette-white !default;
$checkbox-switch-margin-left-label-checked: 1.5rem !default;
$checkbox-switch-background-color-enabled: $color-palette-blue-2 !default;
$checkbox-switch-background-color-disabled: $color-palette-red !default;