@import "../../mixins/breakpoint";
@import "../../mixins/animation";
@import "../../base/typo/typo.mixin";
@import "../../base/text-color/text-color.mixin";
@import "../../base/font/font.mixin";
@import "../../base/grid/flex.mixin";
@import "../../base/spacing/spacing.mixin";

@import "profile-user.setup";

.profile-user {

	position: relative;

	&__title {
		@include -typo-headline-4();
		@include -text-color-blue-2();
		@include -font-secondary();
		@include -spacing-static-b();

		@include breakpoint('s') {
			@include -spacing-zero();
		}
	}

	&__details {
		@include -spacing-static-f();
		column-count: 1;

		@include breakpoint('s') {
			column-count: 2;
		}
	}

	&__label {
		@include -typo-copy();
		@include -font-primary();
		@include -text-color-blue-2();
		@include -overflow-ellipsis();
		float: left;
		width: $profile-user-label-width;
		margin-right: $profile-user-label-margin-right;
		padding: $profile-user-label-inner-spacing-horizontal 0;
	}

	&__info {
		@include -typo-copy();
		@include -font-primary();
		@include -text-color-gray-1();
		@include -overflow-ellipsis();

		position: relative;
		padding: $profile-user-info-inner-spacing-horizontal $profile-user-info-inner-spacing-vertical $profile-user-info-inner-spacing-horizontal 0;
	}

	&__icon {
		@include -background-page();
		@include -text-color-gray-2();
		@include transition (color, .2s);

		position: absolute;
		right: $profile-user-icon-edit-position-right;
		top: $profile-user-icon-edit-position-top;
		cursor: pointer;

		&:hover {
			@include -text-color-green();
		}
	}

	&-image {
		overflow: hidden;
		position: relative;

		&__edit {
			@include flex();
			@include flex--center-vertical();
			@include flex--center-horizontal();
			@include flex--direction(row);
			@include -spacing-inner-b();
			@include transition(all, .2s);

			width: auto;
		  height: $profile-user-image-edit-height;
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  background: $profile-user-image-background-color;
		}

		&__icon {
			color: $profile-user-image-edit-icon-text-color;
		}

		&__label {
			@include -font-primary();

			margin-left: $profile-user-image-edit-label-margin;
			color: $profile-user-image-edit-label-color;
			font-size: $profile-user-image-edit-label-font-size;
			cursor: pointer;
		}
	}

}
